body {
  /*background-color: black;*/
}

u {
  text-decoration: underline;
}

#header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.main-nav {
  background-color: white;
  height: 9rem;
  font-size: 28px;
  line-height: 9rem;
  padding-left: 4rem;
  box-shadow: 1px 1px 1px gray;
  /*display: none;*/
}

.intro-box {
  height: 100vh;
  width: 100%;
  /*background: url('man-on-bridge.jpg') no-repeat center center fixed;
  background-size: cover;*/
}

.intro-box > img {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  filter: contrast(60%);
}

.intro-box > p {
  padding: 0 15%;
  font-size: 16px;
  color: black;
  position: relative;
  z-index: 2;
  top: -40vh;
  color: white;
  text-align: center;
}

/*img {
  min-width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 1;
}*/

.image1 {
  /*float: right;*/
  width: 100%;
}

.float-image-right {
  float: right;
  width: 80%;
}

.image1-description {
  float: left;
  width: 20%;
  /*position: relative;*/
  padding-top: 2rem;
}

.image2 {
  float: left;
  width: 80%;
}

.image2-description {
  float: right;
  width: 20%;
  padding-left: 1em;
}

/*span {
  position: relative;
  z-index: 2;
  top: -155rem;
  left: 50%;
  color: white;
}*/
